.input {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #131416;
  padding-bottom: 10px;
  width: 100%;
}
.title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #fc842d;
}
.fieldContainer {
  position: relative;
  padding-left: 10px;
}
.fieldContainer:not(:last-child) {
  margin-bottom: 20px;
}
.validation {
  position: absolute;
  right: 0;
  top: 0;
  color: red;
}
.formContainer {
  /* padding-left: 40px; */
  display: flex;
  flex-direction: column;
  max-width: 286px;
  /* padding-bottom: 60px; */
  /* margin-left: 20px; */
  margin-bottom: 40px;
  /* margin-right: auto; */
}

.controls {
  display: flex;
  margin-left: 20px;
}
.controls > a {
  margin-left: 30px;
}

.none {
  display: none;
}
.altenativeRadio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #070808;
  border-radius: 50%;
  padding: 2px;
}
.input + span {
  color: #121316;
}
.input:checked + span > .altenativeRadio {
  background-image: url('../../../images/radio.svg');
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center;
}
.input + span > .altenativeRadio {
  margin-right: 5px;
}
.input:checked + span {
  color: orange;
}

.position {
  z-index: 9;
  width: 29%;
  background-image: url('../../../images/Layer.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  /* outline: 2px solid grey; */
  background-color: white;
  box-shadow: -7px 5px 21px -2px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  position: absolute;
  top: 50px;
  /* height: 800px; */
  right: 20px;
}

.titleView {
  padding: 20px;
  /* margin-left: 40px; */
  font-size: 22px;
}

.background {
  /* width: 100vw; */
  height: 100vh;
  /* background-image: url(../../../images/Layout.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.crossBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fc842d;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.crossStyle {
  padding: 3px;
  display: block;
}
@media (max-width: 620px) {
  .position {
    width: 80%;
    margin: 0 10px;
  }
  .formContainer {
    max-width: 240px;
  }
  .formContainer > button {
    margin-right: auto;
  }
}
/* @media (max-width: 767px) {
  .position {
    width: 50%;
    margin: 0 10px;
  } */
/* .formContainer {
    max-width: 240px;
  }
  .formContainer > button {
    margin-right: auto;
  } */
/* } */
@media (min-width: 621px) and (max-width: 1200px) {
  .position {
    width: 50%;
    margin: 0 10px;
  }
}
