.nutrientsList {
  display: flex;
  /* margin-top: 16px; */
  color: #fc842d;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.itemStyle {
  margin-right: 15px;
}
