.nutrientsList {
  display: flex;
  /* margin-top: 16px; */
  color: #fc842d;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.itemStyle {
  margin-right: 15px;
}
.navigationStyle {
  background-color: transparent;
  box-shadow: none;
  /* margin-right: 20px; */
}
.navigationStyle > a {
  margin-right: 20px;
}
