.link {
  width: 176px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  border-radius: 30px;
  transition: all linear 250ms;
  margin-top: 5px;
}

.white {
  border: 2px solid #fc842d;
  background: #ffffff;
  color: #fc842d;
}
.white:hover,
.white:focus {
  border: 2px solid transparent;
  background: #fc842d;
  color: white;
}
.orange {
  border: 2px solid transparent;
  background: #fc842d;
  color: white;
}
.orange:hover,
.orange:focus {
  border: 2px solid #fc842d;
  background: #ffffff;
  color: #fc842d;
}
@media (max-width: 620px) {
  .link {
    font-size: 12px;
    width: 120px;
  }
}
