.button{
    width: 176px;
    height: 44px;
    font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
border-radius: 30px;
transition: all linear 250ms;
}

.white{
border: 2px solid #FC842D;
background: #FFFFFF;
color: #FC842D;
}
.white:hover, .white:focus{
    border: 2px solid transparent;
    background: #FC842D;
    color: white;
}
.orange{
    border: 2px solid transparent;
    background: #FC842D;
    color: white;
}
.orange:hover, .orange:focus{
border: 2px solid #FC842D;
background: #FFFFFF;
color: #FC842D;
}