.input{
    border: none;  
    border-bottom: 1px solid #E0E0E0;
    font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.04em;
color: #9B9FAA;

}