.searchInput {
  background-color: rgb(238, 231, 156);
}

.calculator {
  background-color: rgba(128, 128, 128, 0.455);
  border-radius: 10px;
  position: fixed;
  top: 100px;
  left: 810px;
  padding: 10px;
}

.position {
  /* margin-right: 200px; */
  /* background-color: red; */
  position: relative;
  /* width: 71%; */
  /* background-image: url('../../images/Layout.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: grey; */
}
.linkView {
  height: 120px;
  overflow: hidden;
  /* background-color: rgba(240, 12, 12, 0.509); */
  /* display: inline-block; */
  /* width: 300px; */
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}
.listStyle {
  width: 70%;
}
.listView {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
.itemView {
  width: 300px;
  margin-right: 50px;
  /* margin-left: 40px; */

  /* border: 2px solid black; */

  /* margin-bottom: 20px; */
}
.itemView:hover {
  transform: scale(1.05);
}
