#searchInput {
  background-color: transparent;
  width: 500px;
  margin-bottom: 20px;
  border-bottom: 2px solid #9e9e9e;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #3a3938;
  margin-left: 20px;
}

#searchInput::placeholder {
  color: #7b7570;
}

.calculator {
  background-color: #fc832dcd;
  box-shadow: 8px 11px 30px -5px #110d09;
  width: 200px;
  border-radius: 2px;
  position: fixed;
  top: 60px;
  right: 15px;
  padding: 10px;
}

.position {
  /* margin-right: 200px; */
  /* background-color: red; */
  position: relative;
  width: 100%;
  /* background-image: linear-gradient(#69656853, #69656853),
    url('../../images/Layout.png');

  background-repeat: no-repeat;
  background-size: cover;

  background-position: center; */

  /* background-color: grey; */
}
.linkView {
  height: 120px;
  overflow-y: scroll;
  /* background-color: rgba(240, 12, 12, 0.509); */
  /* display: inline-block; */
  /* width: 300px; */
  /* margin-right: 20px; */
  /* margin-left: 20px; */
}
.listStyle {
  width: 100%;
  display: block;
}
.listView {
  /* height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  width: 80%;
}
.itemView {
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
  /* margin-left: 40px; */

  /* border: 2px solid black; */

  /* margin-bottom: 20px; */
}
.itemView:hover {
  transform: scale(1.05);
}

.button {
  width: 80px;
  height: 30px;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  border-radius: 30px;
  transition: all linear 250ms;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px solid #fc842d;
  background: #ffffff;
  color: #fc842d;
}

.button:hover,
.button:focus {
  border: 2px solid transparent;
  background: #fc842d;
  color: white;
}

.textStyle {
  text-shadow: 3px 3px 3px rgba(28, 12, 7, 0.73);
}

.buttonStyle {
  margin-left: 20px;
  display: inline-block;
}
@media (max-width: 620px) {
  .calculator {
    display: none;
  }
  #searchInput {
    max-width: 243px;
  }
  #searchInput + button {
    margin-left: auto;
    margin-right: auto;
  }
  #searchInput::placeholder {
    font-size: 10px;
  }
  .position {
    padding-left: 10px;
    padding-right: 10px;
  }
  .position > form {
    display: flex;
    flex-direction: column;
  }
  .listView {
    margin: 0 auto;
  }
  .itemView {
    margin: 0;
    /* width: 100%; */
  }
}
@media (max-width: 840px) {
  .calculator {
    display: none;
  }
}
@media (max-width: 874px) {
  .listView {
    margin: 0 auto;
  }
  .itemView {
    width: 100%;
    margin: 0 auto;
  }
}
