.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(121, 120, 120);
  color: #fc842d;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.header2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(171, 165, 165, 0.626);
  color: #fc842d;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
}
@media (max-width: 620px) {
  .header2 > a > img {
    width: 130px;
  }
  .header {
    height: 200px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .header2 > a > img {
    width: 130px;
  }
  .header {
    height: 170px;
    flex-direction: column;
  }
  .header > a:last-child {
    padding-bottom: 15px;
  }
}
